# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/
*.Rproj
*.RData

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.nb.html

# translation temp files
*~$*
*._*

# RStudio Connect folder
rsconnect/

# redundant script from Nadica
mapNew.R